@keyframes bkgd_anim
  {
    0% {background-image: url('/images/0%bkgdanim.png');}
    100% {background-image: url('/images/100%bkgdanim.png');}
  }

body
  {
    background-image: url('/images/bkgd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

h1
  {
    font: arial;
    font-size: 4.5em;
    text-align: center;
  }

h3
  {
    font: arial;
    font-size: 3em;
    text-align: left;
  }

p
  {
    font: arial;
    font-size: 1.5em;
  }